h1 {
    font-size: 0;
    color: transparent;
}
p {
}
body, html {
    padding: 0;
    margin: 0;
    text-align: center;
}
input, button {
    margin-top: 5vh;
    width: 75%;
    height: 8vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 4vh;
    opacity: 0.4;
}
button {

}
svg {
    opacity: 0.4;
}

#container {
    &.entry {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        background: url('../resources/space.jpg');
    }
    &.fight {
        background: url('../images/birmingham.jpg');
        background-size: cover;

    }
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}